[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Arafat Hossain Shesher
	email = arafatshishir200@gmail.com
[safe]
	directory = c:/Users/Arafat Shishir
